*{
    list-style: none;
    font-size: 12px;
    margin:0;
    padding:0;
    color: #cccccc;
    font-family:'微软雅黑';
    font-style: normal;
}
body{
    background-color: #5d5d5d;
}
.bgc{
    background-color:#000;
}
#nav{
    z-index: 10;

}

#body .affix {
    position: fixed;
    width: 25.111%;
}
#body .container .thumbnail {
    display: block;
    padding: 4px 4px 24px 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #000;
    border: none;

    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#body .container .thumbnail .caption{
    color:#fff;
}
#body .container .thumbnail h3{
    margin-bottom: 5px;
    margin-top: -11px;
}

#body .carousel {
    position: relative;

}
div{
    overflow: hidden;
    position: relative;
}
#body .carousel-indicators {
    display:block;
    float: right;
    padding: 30px 10px;
    width: 100%;
    bottom: 10px;
    overflow: hidden;
    z-index: 15;
    position: static;

/* width: 20px; */
    padding-left: 0;
    margin-left:0; /* */
    text-align: center;
    list-style: none;
}
/*#body .carousel-indicators > div{*/
    /*overflow: hidden;*/
/*}*/
#body .carousel-section-year {
    display: block;
    float: right;
    z-index: 10;
    width: 90px;
    height: 90px;
    color: #fff;
    /* margin: 1px; */
    text-indent: 0px;
    font-size: 22px;
    font-weight:bold;;
    line-height: 70px;
    //color: rgba(210,119,23,.8);

    cursor: pointer;
    background-color: #000\9;
    background-color: gray;
    border: 10px solid #000;
    border-radius: 45px;
}

#body .carousel-section-title{
    display: block;
    float: right;
    z-index: 1;
    left: -35px;
    top: 25px;
    background-color: #fff;
    width: 250px;
    height: 40px
}

#body .carousel-section-title h4{
    padding: 0 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.44);
    text-align: center;
}

#body .carousel-section-title-left{
    left: -0px;

}

#body .carousel-indicators > div{
    margin: 10px;
    width: 650px;
}
#body .carousel-inner {
    position: relative;

    overflow: hidden;
}
#body .content{
    width: 200px;
}
#body .content-right{
    left: 100px;
    text-indent:2em;
    text-align: left;
}
#body .content-left{
    left: 100px;
    text-indent:2em;
    text-align: left;
    margin-top: 90px;
}


.triangle-right {
     float: right;
     width: 0;
     height: 0;
     border-top: 22px solid transparent;
     border-right: 14px solid #080808;
     border-bottom: 20px solid transparent;
 }
.triangle-left {
    float:left;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 14px solid #080808;
    border-bottom: 20px solid transparent;
}

#body .content-img{
    height: 150px;
    width: 300px;
    float: left;
}
.pd10{
    padding:10px;
}

.icon{
    font-size: 28px;
    font-weight:bold;
    color: #fff;;
}
#sup,h3{
    display:inline-block;
}

#skills .item img{
    width: 100%;
    height:336px;
}

.left{
    float: left;
    height: 100%;
}
.right{
    float: right;
    height: 100%;
}

.personal_header{
    width: 150px;
}
.labels>div>span{
    font-size: 18px;
    color:#7f7f7f;
    font-weight: bold;
}

.labels div span{
    display: inline-block;
    margin: 5px;
    padding:10px;
}

.title{
        margin: 20px 20px 20px 0;
    background-color: #3c3c3c;
    box-shadow: #5d5d5d 5px -8px;
    padding:10px 0 20px 70px;
}

h1{
    display: inline-block;
    font-weight: bold;
    margin-right:10px;
    color:#fff;
    margin-bottom:0;
    font-family: 'Helvetica, Arial, sans-serif';
}
h6{
    font-size: 12px;
    margin-top:0;
    font-family: 'Helvetica';
}

h3{
    display: inline-block;
    font-weight: bold;
    margin-right:10px;

    margin-bottom:0;

}
h3 > i{
    font-size: 24px;
    font-weight: bold;

}
.fgreen{
    color:#93C44B;
}

h4 > i{
    font-size: 18px;
    font-weight: bold;
    color:#4cd964;
}

.pageImage{
    width:100%;
    display: block;
    margin-bottom:20px;
}

a:link,a:hover,a:active,a:visited{
    color: #ffffff;
    text-decoration: none;
}

#footer{
    background-color: #222;
}